{% extends "app/tpfm/tpfm.html" %}
{% load i18n static settings %}

{% block content %}

<div class="container" style="padding: 0; margin-left: 0;">
    <h1 style="font-size:400; margin-bottom: 20px"><b>{% trans 'Set parameters' %}</b></h1>
    <div class="row-sm justify-content-start" style="max-width: 60%;">
        <div class="col">
            <form id='parameter-form'>
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="deadline">{% trans 'Runner Diameter (m)' %}</label>
                    <input class="form-control" type="text" name="deadline" id="deadline" value="2" required>
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">{% trans 'Number of Blades' %}</label>
                    <input type="range" min="0" max="4" class="form-control" name="status" id="status" list="values">
                    <datalist id="values">
                      <option value="1" label="One "></option>
                      <option value="2" label="Twoo"></option>
                      <option value="3" label="Three"></option>
                      <option value="4" label="Four"></option>
                      <option value="5" label="Five"></option>
                    </datalist>
                </div>
                <div class="mb-3">
                    <label for="water_surface" class="form-label">{% trans 'Material' %}</label>
                    <input type="text" class="form-control" name="water_surface" id="water_surface" value='steel' required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">{% trans 'Blade Length (m)' %}</label>
                    <input type="text" class="form-control" name="location" value="2" required>
                </div>
                <div class="mb-3">
                    <label for="flow_direction_speed" class="form-label">{% trans 'Blade Width (m)' %}</label>
                    <input type="text" class="form-control" name="flow_direction_speed" id="flow_direction_speed" value="1" required>
                </div>
                <div class="mb-3">
                    <label for="segment_width" class="form-label">{% trans 'Blade Thickness (m)' %}</label>
                    <input type="text" class="form-control" name="segment_width" id="segment_width" value="0.1" required>
                </div>
                <div class="mb-3">
                    <label for="segment_depth" class="form-label">{% trans 'Rotational Speed (RPM)' %}</label>
                    <input type="text" class="form-control" name="segment_depth" id="segment_depth" value="50" required>
                </div>
                <div class="mb-3">
                    <label for="estimated_waterflow" class="form-label">{% trans 'Flow Rate (m³/s)' %}</label>
                    <input type="text" class="form-control" name="estimated_waterflow" id="estimated_waterflow" value="20" required>
                </div>
                <input type="submit" name="" id="" onclick="showVideo(event)" class="btn btn-primary" style="margin-top: 20px;">
            </form>

        </div>
    </div>
</div>

<div id="videos" hidden>
    <video width="960" height="640" controls loop>
        <source src="{% static 'app/video/170-2.mp4' %}"; type="video/mp4">
    </video>
</div>
<video width="960" height="640" hidden controls loop>
    <source src="{% static 'app/video/0001-0170.mp4' %}"; type="video/mp4">
</video>

<style>
    datalist {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
        width: 200px;
      }
      
      option {
        padding: 0;
      }
      
      input[type="range"] {
        width: 200px;
        margin: 0;
      }
      
</style>
<script>
    function showVideo(event) {
        event.preventDefault(); // Prevent form submission
        var videosDiv = document.getElementById("videos");
        var pf = document.getElementById("parameter-form");
        if (videosDiv) {
            videosDiv.removeAttribute("hidden");
            pf.setAttribute("hidden", "");
        }
    }
</script>

{% endblock %}