{% extends "app/tpfm/tpfm.html" %}
{% load i18n static settings %}
{% block content %}

<div class="container" style="padding: 0; margin-left: 0;">
    <h1 style="font-size:400; margin-bottom: 20px"><b>{% trans 'Pressure Analysis' %}</b></h1>
    <div class="row-sm justify-content-start" style="max-width: 60%;">
        <div class="col">
            
            <form action="/tpfm/pressure_analysis/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label" for="pressure_point_1">{% trans 'Pressure at point 1 (kPa)' %}</label>
                    <input class="form-control" type="text" name="pressure_point_1" id="pressure_point_1" value={% language 'en'%}{{P1|floatformat:3}}{% endlanguage %} required>
                </div>
                <div class="mb-3">
                    <label for="temperature_1" class="form-label">{% trans 'Temperature at point 1 (C)' %}</label>
                    <input type="text" class="form-control" name="temperature_1" id="temperature_1" value={% language 'en'%}{{T1|floatformat:2}}{% endlanguage %} required>
                </div>
                <div class="mb-3">
                    <label for="temperature_2" class="form-label">{% trans 'Temperature at point 2 (C)' %}</label>
                    <input type="text" class="form-control" name="temperature_2" id="temperature_2" value={% language 'en'%}{{T2|floatformat:2}}{% endlanguage %} required>
                </div>
                

                <input type="submit" name="" id="" class="btn btn-primary" style="margin-top: 20px;">
            </form>

            {% if P2 %}
                <h1 style="font-size:400; margin-bottom: 20px"><b>{{P2|floatformat:4}} kPa</b></h1>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}