{% extends 'app/tpfm/tpfm.html' %}
{% load i18n static settings %}

{% block content %}
  <div class="container">
    <ol>
      <li>{% trans 'Upload Water / Surface Model' %}</li>
      <li>{% trans 'Select Turbine' %}</li>
    </ol><br />
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="fluid_model" />
      <button type="submit" class="btn">{% trans 'Upload fluid model' %}</button>
    </form>
    {% if upload_success %}
      <div class="alert alert-success" role="alert">{% trans 'File uploaded successfully!' %}</div>
    {% endif %}
  </div>
{% endblock %}
