affine==2.4.0
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
APScheduler==3.10.4
async-timeout==4.0.3
attrs==23.2.0
billiard==4.2.0
boto3==1.34.80
botocore==1.34.80
bpy==4.0.0
cachetools==5.3.3
celery==5.3.6
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
color-operations==0.1.3
coreapi==2.3.3
coreschema==0.0.4
Cython==3.0.10
Django==2.2.27
django-appconf==1.0.6
django-codemirror2==0.2
django-colorfield==0.11.0
django-cors-headers==3.11.0
django-filter==21.1
django-guardian==2.4.0
django-imagekit==5.0.0
django-redis==5.2.0
django-webpack-loader==0.6.0
djangorestframework==3.13.1
djangorestframework-guardian==0.3.0
djangorestframework-jwt==1.11.0
django-crispy-forms==1.14.0
drf-nested-routers==0.93.4
drf-yasg==1.21.7
exceptiongroup==1.2.0
funcsigs==1.0.2
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.3
jmespath==1.0.1
kombu==5.3.6
Markdown==3.6
MarkupSafe==2.1.5
morecantile==2.1.4
numexpr==2.10.0
numpy==1.26.2
olefile==0.47
openapi-codec==1.3.2
packaging==24.0
piexif==1.1.3
pilkit==3.0
pillow==10.3.0
pip-autoremove==0.10.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pydantic==1.10.8
pydantic_core==2.16.3
PyJWT==1.7.1
pyodm==1.5.11
pyparsing==3.1.2
pyproj==3.6.1
pystac==1.10.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
rasterio==1.3a3
rcssmin==1.1.2
redis==5.0.3
requests==2.31.0
requests-toolbelt==1.0.0
rfc3987==1.3.8
rio-cogeo==2.3.1
rio-color==1.0.4
rio-mucho==1.0.0
rio-tiler==2.1.4
rjsmin==1.2.2
s3transfer==0.10.1
scipy==1.13.0
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
snuggs==1.4.7
sqlparse==0.4.4
strict-rfc3339==0.7
typing_extensions==4.11.0
tzdata==2024.1
tzlocal==2.1
uritemplate==4.1.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
zstandard==0.22.0