{% extends 'app/psm/psm.html' %}
{% load i18n static crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/data_collection.css' %}">

<h1 style="font-size: 400; margin-bottom: 20px">{% trans 'Hydrological surveys' %}</h1>
{% if not survey.id %}
<div class="container">
    <div class="row">   
        <div class="col">
            <ul class="list-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans 'Deadline' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'Location' %}</th>
                            <th>{% trans 'Details' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hydrosurvey in hydrosurveys %}
                        <tr>
                            <td>{{ hydrosurvey.deadline|date:"Y-m-d" }}</td>
                            <td>{{ hydrosurvey.status }}</td>
                            <td>{{ hydrosurvey.location }}</td>
                            <td style="text-align: center;"><a href="/psm/hydrosurvey/{{ hydrosurvey.id }}/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </ul>
            <div class="btn_container">
                <a href="/psm/add_survey/"><button class="btn btn-primary"><i class="fa-solid fa-plus"></i> {% trans 'New Survey' %}</button></a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if survey.id %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3>{{ survey.location }}</h3>
            <table class="data-sheet">
                <tr>
                    <td class="data-sheet-label">{% trans 'Deadline' %}:</td>
                    <td>{{ survey.deadline }}</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Status' %}:</td>
                    <td>{{ survey.status }}</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Location' %}:</td>
                    <td>{{ survey.location }}</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Water Surface' %}:</td>
                    <td>{{ survey.water_surface }}</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Flow Direction' %}:</td>
                    <td>{{ survey.flow_direction }}</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Measured Flow Speed' %}:</td>
                    <td>{{ survey.flow_direction_speed }} km/h</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Segment Width' %}:</td>
                    <td>{{ survey.segment_width }} m</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Segment Depth' %}:</td>
                    <td>{{ survey.segment_depth }} m</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Estimated Water Flow' %}:</td>
                    <td>{{ survey.estimated_waterflow }} m²/s</td>
                </tr>
                <tr>
                    <td class="data-sheet-label">{% trans 'Estimated Energy Production' %}:</td>
                    <td>{{ survey.estimated_energy_production }} MWh</td>
                </tr>
            </table>
            <div class="btn_container">
                <a href="/psm/data_collection/">
                <button id="add_new_project_btn" class="btn btn-primary">
                    <i class="fa-solid fa-arrow-left"></i> {% trans 'Back' %}
                </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}
