{% extends "app/psm/psm.html" %}
{% load i18n static crispy_forms_tags %}
{% block content %}

<h1>Hidrológiai felmérés</h1>

<form action="" method="post" novalidate>
  {% csrf_token %}
  <!-- {{ form|crispy }} -->
    {% for field in form %}
    {{ field.errors }}
    <div class="form-row">
        {% if forloop.counter|divisibleby:"2" %}
            <div class="form-group col-md-6">
                {{ field.label_tag }}  
                {{ field }}
            </div>
        {% else %}
            <div class="form-group col-md-6">
                {{ field.label_tag }} 
                {{ field }}
            </div>
        {% endif %}
        
    </div>
    {% endfor %}
  <input type="submit" value="Küldés" class="btn btn-primary">
  
</form>
{% endblock %}
