{% extends "app/psm/psm.html" %}
{% load i18n static crispy_forms_tags %}
{% block content %}

<h1>Hidrológiai felmérés</h1>

<form action="" method="post" novalidate>
  {% csrf_token %}
  <!-- {{ form|crispy }} -->
    {% for field in form %}
    <div class="form-row">
        {% if forloop.counter|divisibleby:"2" %}
            <div class="form-group col-md-6">
                {{ field }}
            </div>
        {% else %}
            <div class="form-group col-md-6">
                {{ field }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
  <input type="submit" value="Submit" class="btn btn-primary">
  
</form>
{% endblock %}



<!--
<h2>Hidrológiai felmérés 01</h1>
<div class="container">
    <form action="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="deadline">Határidő</label>
                <input type="date" id="deadline" class="form-control">
            </div> 
            <div class="form-group col-md-6">
                <label for="state">Státusz</label>
                <select name="" id="state" class="form-control">
                    <option value="closed">lezárt</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Vízfelület</label>
                <input type="text" placeholder="Duna" name="water-surface" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="place">Helyszín</label>
                <input type="number" name="" id="place" class="form-control"> 
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Áramlás iránya</label>
                <select name="" id="" class="form-control">
                <option value="">Kelet</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="">Áramlás mért sebessége</label>
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Szelvény szélessége</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="">Szelvény mélysége</label>
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="">Becsült vízhozam</label>
                <input type="number" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="">Becsült energia termelés</label>
                <input type="number" class="form-control">
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-secondary">Adatok importálása</button>
            <button type="submit" class="btn btn-secondary">Adatok exportálása</button>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-secondary">Változtatások elvetése</button>
            <button type="submit" class="btn btn-primary">Változtatások mentése</button>
        </div>
        
        <button>Bezárás</button>
    </form>
</div>
-->
