{% extends "app/psm/psm.html" %}


{% block content %}

<div id="calendar"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.11/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: [
                {% for task in tasks %}
                    {
                        title: '{{ task.name }}',
                        start: '{{ task.start_date|date:"Y-m-d" }}',
                        end: '{{ task.deadline|date:"Y-m-d" }}',
                        backgroundColor: '{{ task.color }}'

                    },
                {% endfor %}
            ]
        });
        calendar.render();
    });
</script>
{% endblock %}