{% extends "app/psm/psm.html"%}
{% load i18n static settings %}
{% block content %}<div></div>
{% if project.id %}
<div class="container">
    <div class="row">
        <div class="col">
                <h4><b>{{project.id}}</b></h4>
                <div>{{project.created_at}}</div>
                <div>Project owner Test User 01</div>
                <a href="/psm/edit_project"><i class="fa-solid fa-pen"></i></a>
            <hr>
            <h5>{{propject.team}}</h5>
            <ul>
                <li>Test User 01</li>
                <li>Test User 02</li>
                <li>Test User 03</li>
                <li>Test User 04</li>
            </ul>
            <hr>
            <h5>Description</h5>
            <p>{{propject.description}}</p>
            <button class="btn btn-secondary">More</button>
            <hr>
            <h5><b>Tasks list</b></h5>
            <ul>
                <li>
                    Task 01
                    Deadline: 2024.02.02
                    Status: Preparing
                </li>
                <li>
                    Task 02
                    Deadline: 2024.02.02
                    Status: Preparing
                </li>
            </ul>
            <button class="btn btn-secondary"><i class="fa-solid fa-plus"></i> New Task</button>
            <hr>
            <h5><b>Attachments</b></h5>
            <ul>
                <li>
                    Attachment 01
                    Uploaded: 2024.02.02.
                    Format: PDF
                    Size: 3.7 MB
                </li>
            </ul>
            <button class="btn btn-secondary"><i class="fa-solid fa-plus"></i> New Attachment</button>
        </div>
        <div class="col">
            <form action="">
                <label class="form-label" for="status" >Status</label>
                <select class="form-control" name="" id="status">
                    <option  value="">In progress</option>
                </select>
                <label class="form-label" for="deadline">Deadline</label>
                <input class="form-control" type="date" >
               
                <button class="btn btn-secondary">Calendar view</button>
                <button class="btn btn-secondary">Statistics</button>
            </form>
            <hr>
            <h5>Researches</h5>
            <ul>
                <li>Research 01</li>
                <li>Task 02</li>
            </ul>
            <form action="">
                <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-plus"></i> New research</button>
            </form>
            <hr>
            <form action="">
                <button class="btn btn-primary">Close Project</button>
                <button class="btn btn-secondary">Delete Project</button>
            </form>
            
            
        </div>
    </div>
</div>
{% else %}
<style>
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn_container{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    ul, li{
    
        list-style-type: none;
    }
    .btn{
        border: 2px solid lightblue;
    }
    #add_new_project_btn{
        position: relative;
    }

</style>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for project in projects %}
                <li class="list-group-item">
                    {{project.name}}
                    {{project.created_at}}
                    {{project.status}}
                    <a href="/psm/project_planning/{{project.id}}/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </li>
                {% endfor %}
            </ul>
            <div class="btn_container"><button id="add_new_project_btn" class="btn btn-primary"><i class="fa-solid fa-plus"></i> <a href="/psm/project_planning/">New Project</a></button></div>
            
        </div>
        
    </div>
</div>
{% endif %}
</div>
{% endblock %}

