{% extends "app/psm/psm.html"%}
{% load i18n static settings %}
{% block content %}
<style>
    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .btn_container{
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    ul, li{
    
        list-style-type: none;
    }
    .btn{
        border: 2px solid lightblue;
    }
    a {
        all: unset;
    }
    #add_new_project_btn{
        position: relative;
    }
    #task_form{
        padding: 5px;
        margin: 5px;
        border: 2px solid rgb(247, 247, 247);
        border-radius: 5px;
    }
</style>
{% if project.id %}
<div class="container">
    <div class="row">
        <div class="col">
                <h4><b>{{project.name}}</b></h4>
                <div>Created at: {{project.created_at}}</div>
                <div>Project owner: Test User 01</div>
                <a href="/psm/edit_project"><i class="fa-solid fa-pen"></i></a>
            <hr>
            <h5>Project Team {{project.team_id}}</h5>
            <ul>
               {% for team_member in team_members %}
               <li>
                <ul><li>{{team_member}}</li><li>{{team_member.title}}</li></ul>
               </li>
               {% endfor %}
            </ul>
            <hr>
            <h5>Description</h5>
            {% if project.description|length > 500 %}
            <p>{{project.description|slice:":500"}}
            <span id="more_text" style="display: none;">{{project.description|slice:"500:"}}</span>
            <button class="btn btn-secondary" id="btn-description" onclick="toggleText()">More</button>
            </p>
            {% else %}
            <p>{{project.description}}</p>
            {% endif %}
            <hr>
            <h5><b>Tasks list</b></h5>
            <ul>
                {% for task in tasks %}
                    <li>
                        <ul><li>{{task.name}}</li><li>{{task.deadline}} </li><li>{{task.status}}</li><li>{{task.start_date}}</li></ul> 
                    </li>
                {% endfor %}
            </ul>
            <button class="btn btn-secondary" type="button" onclick="toggleForm()"><i class="fa-solid fa-plus"></i> New Task</button>
            <div >
                <form action="/psm/project_planning/project/{{project.id}}/" method="post" id="task_form" style="display: none;">
                {% csrf_token %}
                <label for="task_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="task_name" name="task_name" required>
                <label for="task_start_date" class="form-label">Start Date</label>
                <input type="date" id="task_start_date" class="form-control" name="task_start_date" required>
                <label for="task_deadline" class="form-label">Deadline</label>
                <input type="date" id="task_deadline" class="form-control" name="task_deadline" required>
                <label for="task_status" class="form-label" >Status</label>
                <select name="task_status" id="task_status" class="form-control" required>
                    {% for task_status in task_statuses %}
                        <option value="{{task_status.id}}" {%if task.status.id == task_status.id%} selected {%endif%}>{{task_status.name}}</option>
                    {% endfor %}
                </select>
                <label for="task_description" class="form-label">Description</label>
                <input type="text" class="form-control" id="task_description" name="task_description">
                <input type="number" name="project_id" value="{{project.id}}" hidden>
                <button class="btn btn-primary">Invite</button>
                <button type="submit" class="btn btn-primary"> New task</button>
                
            </form>
            {% if add_new_task %}
                <div class="alert alert-success" role="alert">
                    Successfully added new task !
                </div>
            {% endif %} 
            </div>
            <hr>
            <h5><b>Attachments</b></h5>
            <ul>
                <li>
                    Attachment 01
                    Uploaded: 2024.02.02.
                    Format: PDF
                    Size: 3.7 MB
                </li>
            </ul>
            <button class="btn btn-secondary"><i class="fa-solid fa-plus"></i> New Attachment</button>
        </div>
        <div class="col">
            <form action="/psm/project_planning/" method="post">
                {% csrf_token %}
                <label class="form-label" for="status" >Status</label>
                <select class="form-control" id="status" name="project.status">
                    {% for status in statuses %}
                        <option value="{{status.id}}" {%if project.status.id == status.id%} selected {%endif%}>{{status.name}}</option>
                    {% endfor %}
                </select>
                <label class="form-label" for="deadline">Deadline</label>
                <input class="form-control" type="date" value="{{project.deadline|date:'Y-m-d'}}">
                <button class="btn btn-primary">Save</button>            
                <button class="btn btn-secondary">Calendar view</button>
                <button class="btn btn-secondary">Statistics</button>
            </form>
          
            <hr>
            <button class="btn btn-primary">Close Project</button>
            <form action="/psm/project_planning/project/{{project.id}}/delete/" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary" name="project.id" value="Delete Project" type="submit">
            </form>
            <form action="/psm/calendar/project/{{project.id}}/" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary" type="submit" value="Calendar view" name="Submit" id="frm1_submit" />
            </form>  
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                {% for project in projects %}
                <li class="list-group-item">
                    {{project.name}}
                    {{project.created_at}}
                    {{project.status}}
                    <a href="/psm/project_planning/project/{{project.id}}/"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </li>
                {% endfor %}
            </ul>
            <div class="btn_container"><button id="add_new_project_btn" class="btn btn-primary"><i class="fa-solid fa-plus"></i> <a href="/psm/project_planning/add_project/">New Project</a></button></div>
        </div>
    </div>
</div>
{% endif %}
</div>
{% endblock %}
