{% extends "app/base.html"%}
{% load i18n static settings %}
{% block navbar-sidebar %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/psm/"><i class="fa fa-tachometer-alt fa-fw"></i> {% trans 'Dashboard' %}</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-thumbtack"></i> {% trans 'Project Planning' %}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/psm/project_planning/"></i> {% trans 'Project Summary' %}</a></li>
                    <li><a href="#"></i> {% trans 'Create New Project' %}</a></li>
                    <li><a href="#"></i> {% trans 'Open Current Project' %}</a></li>
                    <li><a href="#"></i> {% trans 'Export Project Data' %}</a></li>
                </ul>
            </li>
            <li>
                <a href="/psm/data_collection/"> <i class="fa-solid fa-gear"></i> {% trans 'Data collection' %}</span></a>
            </li>
            <li>
                <a href="#"><i class="fa-regular fa-user"></i> {% trans 'Simulation and Analysis Tool' %}</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-cube"></i> {% trans '3D modelling' %}</a>
            </li>
            <li>
                <a href="/tpfm/"><i class="fa fa-tornado"></i> {% trans 'Turbine and Water Flow Planner' %}</a>
            </li>
            <li>
                <a href="#"><i class="fa-regular fa-clipboard"></i> {% trans 'Compliance and Reporting' %}</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-wrench"></i> {% trans 'Tools' %}</a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-sliders"></i> {% trans 'Settings' %}</a>
            </li>
            <li>
                <a href="/dashboard/"><i class="fa-solid fa-arrow-left"></i> {% trans 'Go Back to Main Project' %}</a>
            </li>

            {% is_dev_mode as dev_mode %}
            {% if dev_mode and user.is_superuser %}
            <li>
                <a href="/dev-tools/"><i class="fa fa-bug fa-fw"></i> {% trans 'Developer Tools' %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
{% endblock %}
{% block page-wrapper %}
<div id="page-wrapper">
    <section class="main">
        <div class="content">
            {{ SETTINGS.theme.html_after_header|safe }}

            {% block messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endblock %}

            {% block content %}{% endblock %}
            
        </div>
    </section>
</div>
{% endblock %}

